[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wand = "0.6.7"
piexif = "1.1.3"
pylint = "2.12.2"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
linter = "pylint squeezefix"